---
layout: ""
page_title: "Provider: Symbiosis"
description: |-
  The Symbiosis provider provides configuration management resources for Kubernetes clusters and other resources managed through Symbiosis.
---

# Symbiosis Provider

The Symbiosis provider provides configuration management resources for
[Symbiosis](https://symbiosis.host/).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Authentication

### `auth`

Authentication is done using a Symbiosis API key. They can be generated through the web UI.
